Repository fltk/fltk, pull requests merged in 2021-12, with the labels that each got.

#304 Documentation on widget coordinates and layout, plus new test programs
  documentation/Doxyfile.in
  documentation/Makefile
  documentation/src/common.dox
  documentation/src/coordinates.dox
  documentation/src/coordinates.png
  documentation/src/editor.dox
  documentation/src/index.dox
  documentation/src/pack.png
  documentation/src/resize.dox
  documentation/src/wizard.png
  test/.gitignore
  test/CMakeLists.txt
  test/coordinates.cxx
  test/wizard.cxx
Labels: enhancement, documentation

#281 Fix IME problem for 1.4.0 (issue #270)
  src/Fl_Input_.cxx
  src/Fl_Text_Display.cxx
Labels: enhancement

#316 Fluid: "Widget Class" subclasses Group but incorrectly shows Window subtypes.
  fluid/Fl_Widget_Type.cxx
  fluid/Fl_Window_Type.h
Labels: bug, fluid, active

#323 #322: remove Fluid's dependency on fltk_forms.
  fluid/CMakeLists.txt
  fluid/Makefile
  fluid/file.cxx
Labels: enhancement, fluid
