Repository fltk/fltk, pull requests merged in 2022-11, with the labels that each got.

#523 Fluid support for Fl_Flex
  fluid/Fl_Group_Type.cxx
  fluid/Fl_Group_Type.h
  fluid/Fl_Type.h
  fluid/Fl_Widget_Type.cxx
  fluid/Fl_Window_Type.cxx
  fluid/factory.cxx
  fluid/file.cxx
  fluid/function_panel.cxx
  fluid/function_panel.fl
  fluid/pixmaps.cxx
  fluid/pixmaps.h
  fluid/pixmaps/flFlex.xpm
  fluid/widget_panel.cxx
  fluid/widget_panel.fl
  fluid/widget_panel.h
  src/Fl_Flex.cxx
Labels: fluid, active

#489 support to inline svg files for fluid
  fluid/Fluid_Image.cxx
Labels: enhancement, fluid

#547 Fluid: Add Undo to formula input fields.
  documentation/src/fluid.dox
  fluid/Fl_Widget_Type.cxx
  fluid/widget_panel.cxx
  fluid/widget_panel.fl
Labels: fluid, fixed

#550 Fix selection extension in Fl_Text_*, issue 196
  FL/Fl_Text_Display.H
  src/Fl_Text_Display.cxx
  src/Fl_Text_Editor.cxx
Labels: bug, waiting for confirmation, Prio 3 - Moderate

#549 Add missing FL_RELEASE event after dnd()
  src/fl_dnd_x.cxx
Labels: bug, active, Platform: X11, Platform: Wayland, Prio 2 - Low

#553 Refactor code to make rounded rectangles accessible
  FL/Fl_Graphics_Driver.H
  FL/fl_draw.H
  documentation/src/drawing.dox
  src/Fl_Graphics_Driver.cxx
  src/fl_rounded_box.cxx
Labels: fixed
